<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homework App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>
<body>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form action="" method="post">
                <input class="form-control" name="date" type="text" placeholder="Input date (YYYYMMDD, e.g. 20210123">
                {% include '_messages.html' %}
                <button class="btn btn-info mt-2" style="width: 100%">
                    Submit
                </button>
            </form>
        </div>
    </div>
</body>